.container
  .row
    .column.grid_12
      %h1 Listing drawings
      = link_to 'New Drawing', new_drawing_path

  - @drawings.each_slice(3) do |row|
    .row
      - row.each do |drawing|
        .column.grid_4
          .preview
            = link_to image_tag(drawing.png_file_path), edit_drawing_path(drawing)
    %br/