.container
  .row
    .column.grid_12
      %h1
        Whiteboard

      %p
        A simple private whiteboarding web-based app I've thrown together. Works on desktop + iPad.

      = image_tag 'screens.png'
