.container
  .row
    .column.grid_12
      %h1 Sketches

  .row
    .column.grid_12
      = link_to 'Create a New Sketch', ''

  .row
    .column.grid_4
      .sketch
        wibble
    .column.grid_4
      .sketch
        wibble
    .column.grid_4
      .sketch
        wibble

  .row
    .column.grid_4
      .sketch
        wibble
    .column.grid_4
      .sketch
        wibble
    .column.grid_4
      .sketch
        wibble

  .row
    .column.grid_12
      %canvas.layer