.container
  .row
    .column.grid_12
      %h1 Privacy Policy

      %h2 Generated data
      %p
        When you create content within the application, we need to store it. What you create, is
        your own work. We respect that and won't give out your content to third parties unless you
        explicity allow us to do so, otherwise we'd be infringing your copyright.

      %h2 Browser Cookies
      %p
        In order to login to your account, we need to make a wee browser cookie which allows us to
        keep track of who you are while you are logged into the site. We will only use cookies to
        aid with authentication or if we need to use it to provide a really cool feature.

      %p
        We also use Google Analytics in places. This allows us to get bigger picture stats, like
        the number of visitors we get; which bits of the application are popular; and things like
        that. Google provide their own policy which you can find at
        = link_to 'here.', 'http://www.google.com/intl/None/policies/privacy/'
