.container
  .row
    .column.grid_12
      %h1
        Privacy Policy
        - if user_signed_in?
          = link_to '← Return to whiteboards', whiteboards_path


      %h2 Email
      %p
        I won't give you email address to any third party. I may send you email from time to time that is related
        to the application, eg. An interesting feature has been added. This will however be via a mailing
        list service, so you can opt-out if you really want.

      %h2 Generated data
      %p
        When you create content within the application, it needs to be stored. What you create is
        your own work. I respect that, and won't give out your content to third parties without prior
        permission.

      %h2 Browser Cookies
      %p
        In order to login to your account, a wee browser cookie is set which to help keep track of
        who you are while you are logged into the site. I will only use cookies to aid with
        authentication or if it's needed to provide a really cool feature.

      %p
        Google Analytics is used in places. This is to get bigger picture stats, like
        the number of visitors the application gets; which bits of the application are popular; and things like
        that. Google provide their own policy which you can find
        = link_to 'here.', 'http://www.google.com/intl/None/policies/privacy/'
