.pens
  .pen#black_pen
  .pen#red_pen
  .pen#blue_pen
  .pen#green_pen

= form_for @whiteboard do |f|
  = f.hidden_field :data
  = f.submit

#editor

:javascript
  var sketchpad = Raphael.sketchpad("editor", {
    width: 938,
    height: 550,
    editing: true
  });

  sketchpad.pen().color('#3A3635');

  // When the sketchpad changes, update the input field.
  sketchpad.change(function() {
    $("#whiteboard_data").val(sketchpad.json());
  });

  $('#black_pen').click(function(){ sketchpad.pen().color('#3A3635'); });
  $('#red_pen').click(function(){ sketchpad.pen().color('#E0312C'); });
  $('#blue_pen').click(function(){ sketchpad.pen().color('#184E96'); });
  $('#green_pen').click(function(){ sketchpad.pen().color('#178D75'); });

- if @whiteboard.persisted?
  :javascript
    sketchpad.json($('#whiteboard_data').val());
