.pens
  %span Pen Colour:
  .pen#black_pen
  .pen#red_pen
  .pen#blue_pen
  .pen#green_pen

= form_for @whiteboard do |f|
  = f.hidden_field :data
  = f.submit

#editor

:javascript
  var sketchpad = Raphael.sketchpad("editor", {
    width: 938,
    height: 550,
    editing: true
  });

  // When the sketchpad changes, update the input field.
  sketchpad.change(function() {
    $("#whiteboard_data").val(sketchpad.json());
  });

  function selectPen(id){
    switch(id){
      case 'black_pen':
        sketchpad.pen().color('#3A3635');
        break;
      case 'red_pen':
        sketchpad.pen().color('#E0312C');
        break;
      case 'blue_pen':
        sketchpad.pen().color('#184E96');
        break;
      case 'green_pen':
        sketchpad.pen().color('#178D75');
        break;
    };
    $('.pen').removeClass('active');
    $("#"+id).addClass('active');
  };
  selectPen('black_pen');

  $('.pen').click(function(){ selectPen($(this).attr('id')) })

- if @whiteboard.persisted?
  :javascript
    sketchpad.json($('#whiteboard_data').val());
