@import "configuration";

@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 400;
  src: local('Muli Italic'), local('Muli-Italic'), url('http://themes.googleusercontent.com/static/fonts/muli/v4/QXUu_GmvbNNVPbiznzdgyOvvDin1pK8aKteLpeZ5c0A.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 300;
  src: local('Muli Light Italic'), local('Muli-LightItalic'), url('http://themes.googleusercontent.com/static/fonts/muli/v4/Q5N_zd0042xOVES9NXt9QiZ2oysoEQEeKwjgmXLRnTc.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: local('Muli'), url('http://themes.googleusercontent.com/static/fonts/muli/v4/FrmKYbbiMrxVeJO6lA8KEvesZW2xOQ-xsNqO47m55DA.ttf') format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  src: local('Muli Light'), local('Muli-Light'), url('http://themes.googleusercontent.com/static/fonts/muli/v4/lOt2kHE99m9_-KL-ck-ZZALUuEpTyoUstqEm5AMlJo4.ttf') format('truetype');
}

body{
  margin    : 0;
  font-size : 100%;
  font-family: 'Muli', arial, serif;
  background-color: $main_bg_colour;
}

h1{
  a{
    font-size   : 0.5em;
    font-weight : normal;
    margin-left : 0em;
  }
}

a{
  color: $link_colour;
  text-decoration: none;
  display: inline-block;
  &:hover{
    color: darken($link_colour, 5);
    text-decoration: underline;
  }
}

#top{
  .row{
    position: relative;
    overflow: visible;
  }

  ul#user_nav{
    position : absolute;
    top      : 0;
    right    : 10px;
    margin   : 0;
    padding  : 5px 0;
    display  : block;

    li{
      list-style-type : none;
      display         : inline-block;
    }

    a{
      color : $link_colour;
      font-weight: normal;
      font-size: 0.75em;
      text-decoration:none;
      padding: 5px 10px;
      position:relative;
      display:inline-block;
      -webkit-transition:border-color .218s;
      -moz-transition:border .218s;
      -o-transition:border-color .218s;
      transition:border-color .218s;
      background: darken($main_bg_colour, 3);
      border: solid 2px darken($main_bg_colour, 6);
      border-radius         : 2px;
      -webkit-border-radius : 2px;
      -moz-border-radius    : 2px;
      margin-left           : 10px;

      &:hover, &:active{
        border-color: darken($main_bg_colour, 20);
      }
    }
  }
}

.preview{
  border              : 1px solid darken($main_bg_colour, 5);
  background-color    : #fff;
  background-position : center center;
  background-repeat   : no-repeat;
  height              : 175px;
  position            : relative;

  span{
    position         : absolute;
    top              : 0px;
    right            : 0px;
    padding          : 2px 5px;
    text-align       : center;
    color            : darken($main_bg_colour, 20);
    background-color : lighten($main_bg_colour, 1);
    font-size        : 0.85em;
  }
}

#editor{
  border : 1px solid darken($main_bg_colour, 5);
  margin-bottom: 10px;
  background-color: #fff;
}

.pens{
  position: relative;
  padding-left: 100px;

  span{
    display: inline-block;
    color: darken($main_bg_colour, 30);
    position: absolute;
    left: 0;
    top: 2px;
  }

  .pen{
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 2px solid $main_bg_colour;

    &#black_pen{ background-color: $black_pen; }
    &#blue_pen { background-color: $blue_pen; }
    &#red_pen  { background-color: $red_pen; }
    &#green_pen{ background-color: $green_pen; }

    &.active{
      border: 2px solid white;
      outline: 1px solid darken($main_bg_colour, 5);
    }
  }
}

#footer{
  text-align    : right;
  margin-top    : 2em;
  margin-bottom : 2em;
  color         : lighten($top_bg_colour, 20);
  font-size     : 0.75em;
}